* { box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
body { font-family: sans-serif;
    background: #f5f5f5; 
    color:#222; 
}

.header { background:#ffffff; 
    color:#000000; 
    padding:1rem 0; 
}
.header-inner { width:90%; 
    max-width:1100px; 
    margin:0 auto; 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
}
.brand { 
    font-size:1.4rem; 
}
.nav-list { list-style:none;
    display:flex; 
    gap:1rem; 
}
.nav-list a { color:#000000; 
    text-decoration:none; 
    font-weight: 700;
    font-size:0.95rem; 
}

.product-list { width:90%; 
    max-width:1100px; 
    margin:2rem auto; 
    display:grid; 
    gap:1rem; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
}

.product-card { background:#fff; 
    border-radius:10px; 
    
    overflow:hidden; 
    display:flex; 
    flex-direction:column; 
}
.image-wrap { height:200px; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    
}
.image-wrap img { max-width:100%; 
    max-height:100%; 
    object-fit:contain; 
}
.product-body { padding:1rem; 
    display:flex; flex-direction:column; 
    gap:0.5rem; 
    flex:1; 
}
.prod-title { font-size:1rem; 
    margin-bottom:0.25rem;
}
.category { font-size:0.85rem; 
    color:#666; 
}
.desc { font-size:0.9rem; 
    color:#444; 
    flex:1; 
    margin-top:0.25rem; 
}
.bottom-row { display:flex; 
    justify-content:space-between; 
    align-items:center; 
    margin-top:0.5rem;
}
.price { font-weight:700; 
    color: #1b7a3b; 
}
.rating { 
    background-color: #1b7a3b;
    padding: 5px;
    border-radius: 10px;
    font-size:0.9rem; 
    color:black; 
}   

.footer { background:#ffffff;
    color:#000000; 
    text-align:center; 
    padding:1rem; 
    margin-top:2rem;
}



.carrusel {
    position: relative;
    width: 800px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    }

    .carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    }

    .btn:hover {
    background: rgba(0, 0, 0, 0.8);
    }

    .btn:first-of-type {
    left: 10px;
    }

    .btn:last-of-type {
    right: 10px;
}

#esloganText{
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
    color: green;
    font-weight: bold;
    text-shadow: #000000 2px 2px 4px;
}